In [1]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from sklearn.metrics.pairwise import cosine_distances

import pandas as pd

In [2]:
df = pd.read_csv('tmdb_preprocessed_movies.csv')
df.head()

,movie_id,title,metadata
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [3]:
df.loc[2971]

movie_id                                                  601
title                              E.T. the Extra-Terrestrial
metadata    After a gentle alien becomes stranded on Earth...
Name: 2971, dtype: object

In [4]:
class FilmRecommenderSystem:
    def __init__(self,data, content_col):
        self.df = pd.read_csv(data)
        self.content_col = content_col
        self.encoder = None
        self.bank = None
        
    def fit(self):
        self.encoder = CountVectorizer(stop_words='english', tokenizer=word_tokenize)
        self.bank = self.encoder.fit_transform(self.df[self.content_col])
    
    def recommend(self, idx, top=10):
        content = df.loc[idx, self.content_col]
        code = self.encoder.transform([content])
        dist = cosine_distances(code, self.bank)
        rec_idx = dist.argsort()[0, 1:(top+1)]
        return df.loc[rec_idx]

In [5]:
recsys = FilmRecommenderSystem('tmdb_preprocessed_movies.csv', content_col="metadata")
recsys.fit()

In [6]:
recsys.recommend(0)

,movie_id,title,metadata
2971,601,E.T. the Extra-Terrestrial,After a gentle alien becomes stranded on Earth...
47,54138,Star Trek Into Darkness,When the crew of the Enterprise is called back...
2333,106,Predator,Dutch and his group of commandos are hired by ...
661,6795,Zathura: A Space Adventure,"After their father is called into work, two yo..."
507,602,Independence Day,"On July 2, a giant alien mothership enters orb..."
1204,34851,Predators,A mercenary reluctantly leads a motley crew of...
158,13475,Star Trek,The fate of the galaxy rests in the hands of b...
1002,10416,What Planet Are You From?,"A highly-evolved planet, whose denizens feel n..."
1327,14324,Virgin Territory,The film is set in Tuscany during the Black De...
1945,168705,BloodRayne,"In eighteenth century Romania, Rayne, a dhampi..."

In [7]:
recsys.recommend(2971)

,movie_id,title,metadata
4574,328307,Rise of the Entrepreneur: The Search for a Bet...,The world is changing faster than ever. Techno...
4800,67238,Cavite,"Adam, a security guard, travels from Californi..."
3230,20360,Namastey London,Indian-born Manmohan Malhotra decided to re-lo...
661,6795,Zathura: A Space Adventure,"After their father is called into work, two yo..."
3547,7913,Rang De Basanti,"A young idealistic English filmmaker, Sue, arr..."
1002,10416,What Planet Are You From?,"A highly-evolved planet, whose denizens feel n..."
3921,53862,Trippin',Greg is near the end of his senior year in hig...
3107,115872,The Chambermaid on the Titanic,"Horty, a French foundry worker, wins a contest..."
4569,325579,Diamond Ruff,"Action - Orphan, con artist, crime boss and mi..."
1603,307081,Southpaw,"Billy ""The Great"" Hope, the reigning junior mi..."

In [8]:
df.iloc[2971].metadata

'After a gentle alien becomes stranded on Earth, the being is discovered and befriended by a young boy named Elliott. Bringing the extraterrestrial into his suburban California house, Elliott introduces E.T., as the alien is dubbed, to his brother and his little sister, Gertie, and the children decide to keep its existence a secret. Soon, however, E.T. falls ill, resulting in government intervention and a dire situation for both Elliott and the alien. ScienceFiction Adventure Family Fantasy farewell homesickness nasa extraterrestrialtechnology operation spacemarine lossoffather hidingplace ridingabicycle flyingsaucer prosecution halloween flowerpot finger single HenryThomas DrewBarrymore RobertMacNaughton StevenSpielberg'

In [10]:
df.iloc[4574].metadata

"The world is changing faster than ever. Technology is accelerating, job security is declining and income inequality is increasing. People are overworked and underpaid. With less time and freedom, people are left wondering if there is a better way. Our changing economy has led to the rise of the entrepreneur. The fastest, most dependable and controllable way to become wealthy is to own your own business. This documentary gathers today's best experts and thought leaders to forever change how you view work and wealth. Featuring experts Jordan Adler, John Assaraf, Kody Bateman, Chris Brogan, Richard Bliss Brooke, Ali Brown, Les Brown, Jack Canfield, Harry S. Dent, Jr., Dr. Linda Ferrell, Dr. OC Ferrell, Mark Victor Hansen, Kevin Harrington, Kim Kiyosaki, Robert Kiyosaki, Joseph N. Mariano, Dr. Ivan Misner, Paul Zane Pilzer, Bob Proctor, Susan Sly, Loren Slocum, Kevin Thompson, Brian Tracy, Eric Worre and Sandra Yancey."